
<html>
    <head>
        <title>Udemy Auto Skip Quiz Article - About</title>
        </head>

        <body>
            {{>header}}
            <h1>About This Project</h1>
            <p>This project is a Node.js application that automatically skips quizzes on Udemy courses. It uses the Express framework for the server and the HBS templating engine for rendering views.</p>
            <p>The main features of this project include:</p>
            <ul>
                <li>Automatic quiz skipping on Udemy courses</li>
                <li>Easy-to-use interface</li>
                <li>Customizable settings</li>
            </ul>
            <p>This project is open-source and available on GitHub. Contributions are welcome!</p>     
                        {{>footer}}
        </body>
    
</html>