
<html>
    <head>
        <title>Udemy Auto Skip Quiz Article - About</title>
        </head>

        <body>
            <h1>Help</h1>
            <p>If you need assistance with this project, please refer to the documentation or contact the developers.</p>
            {{>header}}
            {{>footer}}
        </body>
</html>