<!DOCTYPE html>
<html>
    <head>
        <title>Udemy Auto Skip Quiz Article - Home</title>
        </head>

        <body>
            <h1>Welcome to the Udemy Auto Skip Quiz Article</h1>
            <p>This project is a Node.js application that automatically skips quizzes on Udemy courses. It uses the Express framework for the server and the HBS templating engine for rendering views.</p>
            <p>Use the navigation links to learn more about this project and how to use it.</p>

            {{>header}}
            {{>footer}}
        </body>
</html>