
<html>
    <head>
        <title>Udemy Auto Skip Quiz Article - About</title> 
        </head>
        <body>
            <h1>root page   </h1>
            {{>header}}
            {{>footer}}
            
            <form>
                <input type="text"><button type="submit">Submit</button>
            </form>
            <div id="loader"></div>

            name:  <div id="name"></div>
            username: <div id="username"></div>
            <ul id="result-list"></ul>

            <select id="user-select">
                <option value="">Select a user</option>
            </select>

        <script src="/js/app.js"></script>
    </body>
</html>